<nav class="navbar bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="{{asset('images/calendar.svg')}}" alt="Bootstrap" width="30" height="24">
      <b>To-do-list</b>
    </a>
  </div>
</nav>